SDPLoader/src/main/resources/SDPRules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://www.sdp.com/SDPRules" 
           xmlns="http://www.sdp.com/SDPRules">

    <xs:element name="SDPRules">
       <xs:complexType>
           <xs:sequence>
               <xs:element ref="header" minOccurs="0" maxOccurs="1" />
               <xs:element ref="group"  minOccurs="0" maxOccurs="unbounded" />
               <xs:element ref="item"   minOccurs="0" maxOccurs="unbounded" />            
           </xs:sequence>
       </xs:complexType>
    </xs:element>

   <xs:element name="header">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="title"   type="xs:string"  minOccurs="0" maxOccurs="1" />
          <xs:element name="replace" type="xs:boolean" minOccurs="0" maxOccurs="1" default="true"/>
          <xs:element name="comment" type="xs:string"  minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element name="group">
        <xs:complexType>
    	   <xs:sequence>
               <xs:element name="idGroup"   type="idType"     minOccurs="0" maxOccurs="1"/>
    		   <xs:element name="idParent"  type="idType"     minOccurs="0" maxOccurs="1"/>
    		   <xs:element name="prefix"    type="prefixType" minOccurs="1" maxOccurs="1"/>
               <xs:element name="active"    type="xs:boolean" minOccurs="0" maxOccurs="1"   default="true"/>
               <xs:element ref="title"                        minOccurs="0" maxOccurs="1"/>               
               <xs:element ref="description"                  minOccurs="0" maxOccurs="1"/>

               <xs:choice minOccurs="0" maxOccurs="1">
                  <xs:element name="onCondition"  type="conditionType"/>
                  <xs:element name="onConditions" type="conditionTypeList" />
               </xs:choice>
               <xs:element name="sample"    type="sampleType" minOccurs="0" maxOccurs="1"/>               
               <xs:element ref="item"                         minOccurs="0" maxOccurs="unbounded"  />
           </xs:sequence>
    	   <xs:attribute name="name"  type="nameType" use="required"/>

        </xs:complexType>
    </xs:element>

    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="idItem"  type="idType"      minOccurs="0" maxOccurs="1"/>
               <xs:element name="idGroup" type="idType"      minOccurs="0" maxOccurs="1"/>
               <xs:element name="object"  type="objectType"  minOccurs="1" maxOccurs="1"/>
               <xs:element name="active"  type="xs:boolean"  minOccurs="0" maxOccurs="1"   default="true"/>
               <xs:element ref="title"                       minOccurs="0" maxOccurs="1"/>
               <xs:element ref="description"                 minOccurs="0" maxOccurs="1"/>
               <xs:element ref="message"                     minOccurs="0" maxOccurs="1"/>
                                             
               <xs:choice minOccurs="0" maxOccurs="1">
                  <xs:element name="onCondition"  type="conditionType"/>
                  <xs:element name="onConditions" type="conditionTypeList" />
               </xs:choice>

               <xs:element name="sample"  type="sampleType"  minOccurs="0" maxOccurs="1"/>
               <xs:element ref="rule"                        minOccurs="0" maxOccurs="unbounded" />
           </xs:sequence>
           <xs:attribute name="name"  type="nameType" use="required"/>
           
       </xs:complexType>
       
    </xs:element>

    <xs:element name="rule">
       <xs:complexType>
            <xs:sequence>
               <xs:element name="idRule"      type="idType"        minOccurs="0" maxOccurs="1"/>
               <xs:element name="idItem"      type="idType"        minOccurs="0" maxOccurs="1"/>
               <xs:element name="idGroup"     type="idType"        minOccurs="0" maxOccurs="1"/>
               <xs:element name="priority"    type="xs:int"        minOccurs="0" maxOccurs="1"   default="0"/>
               <xs:element name="severity"    type="severityType"  minOccurs="1" maxOccurs="1"/>
               <xs:element name="active"      type="xs:boolean"    minOccurs="0" maxOccurs="1"   default="true"/>
               <xs:element ref="message"                           minOccurs="0" maxOccurs="1"/>               
               <xs:element ref="description"                       minOccurs="0" maxOccurs="1"/>

               <xs:choice minOccurs="0" maxOccurs="1">
                  <xs:element name="onCondition"  type="conditionType"/>
                  <xs:element name="onConditions" type="conditionTypeList" />
               </xs:choice>              
               <xs:element name="condition"   type="conditionType" minOccurs="0" maxOccurs="1"/>
               <xs:element name="sample"      type="sampleType"    minOccurs="0" maxOccurs="1"/>
           </xs:sequence>
           <xs:attribute name="name"  type="nameType"/>          
       </xs:complexType>
   </xs:element>         

  <xs:element name="message">
    <xs:complexType>
         <xs:sequence>     
            <xs:element name="text" type="textType" minOccurs="1" maxOccurs="unbounded" />
         </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="description">
    <xs:complexType>
      <xs:choice minOccurs="1" maxOccurs="1">
         <xs:element name="ref" type="idType"/>
         <xs:sequence>     
            <xs:element name="text" type="textType" minOccurs="1" maxOccurs="unbounded" />
         </xs:sequence>
      </xs:choice>
      <xs:attribute name="id"  type="idType"  use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="title">
    <xs:complexType>
         <xs:sequence>     
            <xs:element name="text" type="titleType" minOccurs="1" maxOccurs="unbounded" />
         </xs:sequence>
    </xs:complexType>
  </xs:element>

   <xs:complexType name="objectType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="type"  type="subObject"   use="optional"/>
         </xs:extension>
      </xs:simpleContent>
  </xs:complexType>

   <xs:complexType name="conditionTypeList">
      <xs:sequence>
          <xs:element name="condition" type="conditionType" minOccurs="1" maxOccurs="unbounded"  />
      </xs:sequence>
   </xs:complexType>
   
   <xs:complexType name="textType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute type="xs:string" name="lang"    use="optional" default="xx"/>
            <xs:attribute type="xs:string" name="dialect" use="optional" default="XX"/>
         </xs:extension>
      </xs:simpleContent>
  </xs:complexType>
  
   <xs:complexType name="titleType">
       <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute type="xs:string" name="lang"    use="optional" default="xx"/>
            <xs:attribute type="xs:string" name="dialect" use="optional" default="XX"/>
         </xs:extension>         
      </xs:simpleContent>
  </xs:complexType>
  
   <xs:simpleType name="severityType">
       <xs:restriction base="xs:integer">
          <xs:minInclusive value="0"/>
          <xs:maxInclusive value="5"/>
       </xs:restriction>
   </xs:simpleType>


   <xs:complexType name="conditionType">
          <xs:sequence>
             <xs:element ref="message" minOccurs="0" maxOccurs="1"/>
             <xs:choice minOccurs="0" maxOccurs="1">
                 <xs:element name="lvalue"          type="operandType"/>
                 <xs:element name="script"          type="scriptType"/>
                 <xs:element name="type"            type="lvalueType"/>
                 <xs:element name="configuration"   type="xs:string"/>
             </xs:choice>
             <xs:element name="operator"            type="operatorType"  minOccurs="0" maxOccurs="1"/>      
             <xs:choice minOccurs="0" maxOccurs="1">
                 <xs:element name="property"        type="xs:string"/>
                 <xs:element name="attribute"       type="xs:string"/>
                 <xs:element name="method"          type="xs:string"/>
                 <xs:element name="expression"      type="xs:string"/>
                 <xs:element name="value"           type="xs:string"/>
                 <xs:element name="rvalue"          type="xs:string"/>
                 <xs:element name="rscript"         type="scriptType"/>                 
             </xs:choice>

         </xs:sequence>

      <xs:attribute name="negated" use="optional"   type="xs:boolean"  default="false"/>   
   </xs:complexType>

   <xs:simpleType name="subObject">
       <xs:restriction base="xs:string">
          <xs:enumeration value="verb"/>
          <xs:enumeration value="option"/>
          <xs:enumeration value="lvalue"/>
          <xs:enumeration value="rvalue"/>
          <xs:enumeration value="list"/>
       </xs:restriction>
   </xs:simpleType>
    
   <xs:simpleType name="lvalueType">
       <xs:restriction base="xs:string">
          <xs:enumeration value="string"/>
          <xs:enumeration value="integer"/>
          <xs:enumeration value="long"/>
          <xs:enumeration value="decimal"/>
          <xs:enumeration value="boolean"/>
          <xs:enumeration value="date"/>
          <xs:enumeration value="time"/>
          <xs:enumeration value="timestamp"/>          
          <xs:enumeration value="verb"/>
          <xs:enumeration value="option"/>
          <xs:enumeration value="lvalue"/>
          <xs:enumeration value="rvalue"/>
          <xs:enumeration value="value"/>
       </xs:restriction>
   </xs:simpleType>


   <xs:complexType name="operandType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="type" use="optional" default="value">
                <xs:simpleType>
                   <xs:restriction base="xs:string">
                      <xs:enumeration value="attribute"/>
                      <xs:enumeration value="configuration"/>
                      <xs:enumeration value="expression"/>
                      <xs:enumeration value="function"/>
                      <xs:enumeration value="method"/>
                      <xs:enumeration value="option"/>
                      <xs:enumeration value="property"/>                      
                      <xs:enumeration value="value"/>
                      <xs:enumeration value="variable"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
  </xs:complexType>
   
   <xs:simpleType name="operatorType">
      <xs:annotation>
         <xs:documentation>
             Comparator apply to object and value in form:
             object comparator value
             Comparator can be one of following keywords
                * ==       - Equal
                * >        - Greater than
                * &lt;        - Less than
                * >=       - Greater or equal than
                * &lt;=       - Less or equal than
                * start    - Object start with 'value' sequence
                * contains - Object contains 'value' sequence
                * match    - Object math the regular expression specified in 'value'
         </xs:documentation>
      </xs:annotation>
      <xs:union memberTypes="operatorTypeL operatorTypeU" />
   </xs:simpleType>


         <xs:simpleType name="operatorTypeL">
            <xs:restriction base="xs:string">
               <xs:enumeration value="mandatory"/>
               <xs:enumeration value="equal"/>
               <xs:enumeration value="eq"/>          
               <xs:enumeration value="is"/>          
               <xs:enumeration value="gt"/>
               <xs:enumeration value="lt"/>
               <xs:enumeration value="ge"/>
               <xs:enumeration value="le"/>
               <xs:enumeration value="start"/>
               <xs:enumeration value="end"/>
               <xs:enumeration value="contains"/>
               <xs:enumeration value="match"/>
               <xs:enumeration value="has"/>
           </xs:restriction>
       </xs:simpleType>
         <xs:simpleType name="operatorTypeU">
            <xs:restriction base="xs:string">
               <xs:enumeration value="MANDATORY"/>
               <xs:enumeration value="EQUAL"/>
               <xs:enumeration value="EQ"/>          
               <xs:enumeration value="IS"/>          
               <xs:enumeration value="GT"/>
               <xs:enumeration value="LT"/>
               <xs:enumeration value="GE"/>
               <xs:enumeration value="LE"/>
               <xs:enumeration value="START"/>
               <xs:enumeration value="END"/>
               <xs:enumeration value="CONTAINS"/>
               <xs:enumeration value="MATCH"/>
               <xs:enumeration value="HAS"/>
           </xs:restriction>
       </xs:simpleType>         

   <xs:complexType name="scriptType">
      <xs:sequence>
          <xs:element name="name"        type="xs:string"      minOccurs="0" maxOccurs="1"/>
          <xs:element name="code"        type="xs:string"      minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>   
   </xs:complexType>

   <xs:complexType name="sampleType">
      <xs:sequence>
          <xs:element name="description" type="textType"       minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="correct"     type="xs:string"      minOccurs="0" maxOccurs="1"/>
          <xs:element name="bad"         type="xs:string"      minOccurs="0" maxOccurs="1"/>
      </xs:sequence>   
   </xs:complexType>

   <xs:simpleType name="nameType">
      <xs:restriction base="xs:string">
         <xs:minLength value="3" />
      </xs:restriction>
  </xs:simpleType>
  
   <xs:simpleType name="prefixType">
      <xs:restriction base="xs:string">
         <xs:minLength value="3" />
         <xs:maxLength value="3" />
      </xs:restriction>
  </xs:simpleType>

   <xs:simpleType name="idType">
      <xs:restriction base="xs:long"/>
  </xs:simpleType>
  
</xs:schema>