SDPRules/src/main/resources/SDPRULES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://www.sdp.com/SDPRULES" 
           xmlns="http://www.sdp.com/SDPRULES">

    <xs:element name="RULES">
       <xs:complexType>
           <xs:sequence>
               <xs:element ref="header" minOccurs="0" maxOccurs="1" />
               <xs:element ref="group"  minOccurs="0" maxOccurs="unbounded" />
               <xs:element ref="item"   minOccurs="0" maxOccurs="unbounded" />            
           </xs:sequence>
       </xs:complexType>
    </xs:element>

   <xs:element name="header">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="title"   type="xs:string"  minOccurs="0" maxOccurs="1" />
          <xs:element name="replace" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false"/>
          <xs:element name="comment" type="xs:string"  minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element name="group">
        <xs:complexType>
    	   <xs:sequence>
    		   <xs:element name="parent" type="xs:long"    minOccurs="0" maxOccurs="1"/>
    		   <xs:element name="id"     type="xs:long"    minOccurs="0" maxOccurs="1"/>
    		   <xs:element name="prefix" type="prefixType" minOccurs="1" maxOccurs="1"/>
    		   <xs:element name="active" type="xs:boolean" minOccurs="0" maxOccurs="1"         default="true"/>
     		   <xs:element ref="description"               minOccurs="0" maxOccurs="1"  />
               <xs:element ref="item"                      minOccurs="0" maxOccurs="unbounded"  />
           </xs:sequence>
    	   <xs:attribute name="name" type="nameType" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="group"  type="xs:long"    minOccurs="0" maxOccurs="1"/>
                <xs:element name="id"     type="xs:long"    minOccurs="0" maxOccurs="1"/>
                <xs:element name="active" type="xs:boolean" minOccurs="0" maxOccurs="1"     default="true"/>
                <xs:element name="object" type="xs:string"  minOccurs="1" maxOccurs="1"/>
                <xs:element name="itemCondition"            minOccurs="0" maxOccurs="1">
                   <xs:complexType>
                      <xs:choice>
                         <xs:element name="conditionPositive" type="conditionType"/>
                         <xs:element name="conditionNegative" type="conditionType"/>
                     </xs:choice>
                  </xs:complexType>
                </xs:element>
                
<!--                 <xs:element ref="formula"                   minOccurs="0" maxOccurs="1"/>                 -->
                <xs:element ref="description"               minOccurs="0" maxOccurs="1"/>
                <xs:element ref="rule"                      minOccurs="0" maxOccurs="unbounded" />
           </xs:sequence>
           <xs:attribute type="xs:string" name="name" use="required"/>
       </xs:complexType>
    </xs:element>

    <xs:element name="rule">
       <xs:complexType>
            <xs:sequence>
                <xs:element name="idGroup"       type="xs:long"       minOccurs="0" maxOccurs="1"/>
                <xs:element name="idItem"         type="xs:long"      minOccurs="0" maxOccurs="1"/>
                <xs:element name="id"             type="xs:long"      minOccurs="0" maxOccurs="1"/>
                <xs:element name="active"         type="xs:boolean"   minOccurs="1" maxOccurs="1"   default="true"/>
                <xs:element name="priority"       type="xs:int"       minOccurs="0" maxOccurs="1"   default="0"/>
                <xs:element name="severity"       type="severityType" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="description"                         minOccurs="0" maxOccurs="1"  />                
                <xs:element name="ruleCondition"                      minOccurs="0" maxOccurs="1">
                   <xs:complexType>
                      <xs:choice>
                         <xs:element name="conditionPositive" type="conditionType"/>
                         <xs:element name="conditionNegative" type="conditionType"/>
                     </xs:choice>
                  </xs:complexType>
                </xs:element>
                <xs:choice minOccurs="1" maxOccurs="1">
                    <xs:element name="condition"         type="conditionType"/>
                    <xs:element name="conditionPositive" type="conditionType"/>                    
                    <xs:element name="conditionNegative" type="conditionType"/>
                </xs:choice>
           </xs:sequence>
       </xs:complexType>
   </xs:element>         

    <xs:element name="condition">
       <xs:complexType>
            <xs:sequence>
                <xs:element name="id"         type="xs:long"      minOccurs="0" maxOccurs="1"/>
                <xs:choice minOccurs="1" maxOccurs="1">
                    <xs:element name="conditionPositive" type="conditionType"/>
                    <xs:element name="conditionNegative" type="conditionType"/>
                </xs:choice>
                <xs:element ref="description"               minOccurs="0" maxOccurs="1"/>
                <xs:element ref="sample"                    minOccurs="0" maxOccurs="1"/>
           </xs:sequence>
       </xs:complexType>
   </xs:element>         

  <xs:element name="description">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:long" minOccurs="0" maxOccurs="1"></xs:element>      
        <xs:element ref="value" maxOccurs="unbounded" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

    <xs:element name="value">
       <xs:complexType>
           <xs:simpleContent>
              <xs:extension base="xs:string">
                  <xs:attribute type="xs:string" name="lang" use="optional" default="xx"/>
                  <xs:attribute type="xs:string" name="dialect" use="optional" default="XX"/>
              </xs:extension>
          </xs:simpleContent>
      </xs:complexType>
  </xs:element>
  
  <xs:element name="formula">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"         type="xs:long"     minOccurs="0" maxOccurs="1"/>      
        <xs:element name="type"       type="formulaType" minOccurs="1" maxOccurs="1"/>
        <xs:element name="name"       type="xs:string"   minOccurs="1" maxOccurs="1"/>
        <xs:element name="definition" type="xs:string"   minOccurs="1" maxOccurs="1"/>
      </xs:sequence>  
    </xs:complexType>
  </xs:element>

   <xs:simpleType name="severityType">
       <xs:restriction base="xs:integer">
          <xs:minInclusive value="0"/>
          <xs:maxInclusive value="5"/>
       </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="formulaType">
       <xs:restriction base="xs:string">
          <xs:enumeration value="function"/>
          <xs:enumeration value="formula"/>
       </xs:restriction>
   </xs:simpleType>

    <xs:element name="sample">
       <xs:complexType>
            <xs:sequence>
                <xs:element name="id"               type="xs:long"         minOccurs="0" maxOccurs="1"/>
                <xs:element name="detail"           type="xs:string"       minOccurs="1" maxOccurs="1"/>
           </xs:sequence>
       </xs:complexType>
   </xs:element>         

   <xs:complexType name="conditionType">
            <xs:sequence>
                <xs:element name="objectType"       type="objectType"      minOccurs="1" maxOccurs="1"/>
                <xs:element name="comparator"       type="comparatorType"  minOccurs="1" maxOccurs="1"/>
                <xs:element name="value"            type="xs:string"       minOccurs="1" maxOccurs="1"/>
           </xs:sequence>
   </xs:complexType>
   
   <xs:simpleType name="objectType">
       <xs:restriction base="xs:string">
          <xs:enumeration value="verb"/>
          <xs:enumeration value="word"/>
          <xs:enumeration value="option"/>
          <xs:enumeration value="lvalue"/>
          <xs:enumeration value="rvalue"/>
          <xs:enumeration value="method"/>
          <xs:enumeration value="expression"/>
          <xs:enumeration value="value"/>
          <xs:enumeration value="special"/>
       </xs:restriction>
   </xs:simpleType>
   
      <xs:simpleType name="comparatorType">
        <xs:annotation>
            <xs:documentation>
                Comparator apply to object and value in form:
                object comparator value
                Comparator can be one of following keywords
                    * ==       - Equal
                    * >        - Greater than
                    * &lt;        - Less than
                    * >=       - Greater or equal than
                    * &lt;=       - Less or equal than
                    * start    - Object start with 'value' sequence
                    * contains - Object contains 'value' sequence
                    * match    - Object math the regular expression specified in 'value'
            </xs:documentation>
        </xs:annotation>
   
       <xs:restriction base="xs:string">
          <xs:enumeration value="mandatory"/>
          <xs:enumeration value="equal"/>
          <xs:enumeration value="gt"/>
          <xs:enumeration value="lt"/>
          <xs:enumeration value="ge"/>
          <xs:enumeration value="le"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="contains"/>
          <xs:enumeration value="match"/>
       </xs:restriction>
   </xs:simpleType>
   
   <xs:simpleType name="nameType">
      <xs:restriction base="xs:string">
         <xs:minLength value="3" />
      </xs:restriction>
  </xs:simpleType>
  
   <xs:simpleType name="prefixType">
      <xs:restriction base="xs:string">
         <xs:minLength value="3" />
         <xs:maxLength value="3" />
      </xs:restriction>
  </xs:simpleType>
  
</xs:schema>